.banner-image {
    background-image: url('../../../assets/Banner/Banner.jpg');
    width: 100%;
    height: 590px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner-image::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}